body {
  margin: 0;
}

.DrawTools {
  position: fixed;
  top: 40px;
  right: 80px;
}
.DrawTools > div {
  margin-bottom: 20px;
}

#UserImage {
  position: fixed;
}

#clear { opacity: 0.5; }
#clear:hover { opacity: 1; }


#canvasColorVar:hover, #brashi:hover {
  margin: -4px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #aaa;
}
.ToolsBrashiSelect {
  display: none;
  position: fixed;
  top: 112px;
  right: 150px;
  background-color: #ececec;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.ToolsBrashiSelectBorder {
  border-top: 1px solid #aaa;
}
.ToolsBrashiSelectImg, .ToolsBrashiSelectDiameter {
  margin: 8px;
}

.ToolsColorSelectUl {
  display: none;
  position: fixed;
  top: 176px;
  right: 150px;
  margin: 0;
  padding: 8px 4px 4px;
  width: 108px;
  background-color: #ececec;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.ToolsColorSelectUl li {
  float: left;
  margin: 0 2px 4px;
  padding: 0;
  width: 32px;
  height: 32px;
  list-style-type: none;
}
